* {

    font-family: "Outfit", sans-serif;
}


.wrapper {
    margin-left: 35%;
    text-align: center;
    width: 420px;
    background: transparent;
    border: 2px solid rgba(6, 40, 192, 0.2);
    backdrop-filter: blur(9px);
    color: white;
    border-radius: 13px;
    padding: 30px 40px;
}
.wrapper h2 {
    text-align: center;
    font-size: 39px;
    font-weight: 600;
    padding-bottom: 26px;
    letter-spacing: 0.5px;
}

.wrapper .input-group{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}
.input-group input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(6, 40, 192, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-group input::placeholder {
    color: white;
}



i{
    position: absolute;
    right: 10px;
    top: 25%;
    transform: translate(-50%);
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 550;
    transition: all .4s ease-in-out;
}

.wrapper .btn:hover {
    transform: scale(1.05);
}

.signUp-link p a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.signUp-link p a:hover {
    text-decoration: underline;
}

.wrapper .signUp-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}



