<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<datalist id="filieres-list" th:fragment="filieres">
    <option value="BI"></option>
    <option value="Comptabilité gestion"></option>
    <option value="Finance"></option>
    <option value="Marketing"></option>
    <option value="Management"></option>
    <option value="Informatique"></option>
    <option value="Ressources humaines"></option>
    <option value="Commerce international"></option>
    <option value="Audit et contrôle de gestion"></option>
</datalist>

<datalist id="niveaux-list" th:fragment="niveaux">
    <option value="Niveau 1"></option>
    <option value="Niveau 2"></option>
    <option value="Niveau 3"></option>
    <option value="Licence 1"></option>
    <option value="Licence 2"></option>
    <option value="Licence 3"></option>
    <option value="Master 1"></option>
    <option value="Master 2"></option>
    <option value="Master"></option>
</datalist>
</html>
